.btn {
  margin: 0.25rem 0;
  display: inline-block;
  font-weight: 500;
  color: $btn-bg-light-c;
  font-family: inherit;
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  text-decoration: none;
  box-shadow: 0 1px 2px #000000;
}

$Btn-colors_Map: (
  'prim-c': $btn-bg-prim-c,
  'secondary-c': $btn-bg-secondary-c,
  'success-c': $btn-bg-success-c,
  'danger-c': $btn-bg-danger-c,
  'warning-c': $btn-bg-warning-c,
  'info-c': $btn-bg-info-c,
  'light-c': $btn-bg-light-c,
  'dark-c': $btn-bg-dark-c,
  'link-c': $btn-bg-prim-c,
);

$Btn_Outline-Colors_Map: (
  'outline-prim-c': $btn-bg-prim-c,
  'outline-secondary-c': $btn-bg-secondary-c,
  'outline-success-c': $btn-bg-success-c,
  'outline-danger-c': $btn-bg-danger-c,
  'outline-warning-c': $btn-bg-warning-c,
  'outline-info-c': $btn-bg-info-c,
  'outline-light-c': $btn-bg-light-c,
  'outline-dark-c': $btn-bg-dark-c,
);

@mixin Btn_bg_transition($speed: 0.5s) {
  transition: all $speed ease;
}

@mixin Buttons {
  @each $btn_name, $btn_value in $Btn-colors_Map {
    &-#{$btn_name} {
      background-color: $btn_value;
      @include Btn_bg_transition();
      @if $btn_value == $btn-bg-warning-c {
        color: $btn-bg-dark-c;
        @include Btn_bg_transition();
      }
      @if $btn_value == $btn-bg-light-c {
        color: $btn-bg-dark-c;
        @include Btn_bg_transition();
      }
      @if $btn_name == 'link-c' {
        background-color: transparent;
        color: $btn_value;
        @include Btn_bg_transition();
      }
      &:hover {
        @include Btn_bg_transition();
        background-color: darken($btn_value, 10%);
        color: $btn-bg-light-c;
        @if $btn_name == 'link-c' {
          background-color: transparent;
          color: darken($btn_value, 10%);
          text-decoration: underline;
          @include Btn_bg_transition();
        }
      }
    }
  }

  @each $outline_name, $outline_value in $Btn_Outline-Colors_Map {
    &-#{$outline_name} {
      color: $outline_value;
      border: 1px solid $outline_value;
      @include Btn_bg_transition();

      @if $outline_name == 'outline-light-c' {
        color: darken($outline_value, 90%);
      }

      &:hover {
        @include Btn_bg_transition();
        background-color: $outline_value;
        color: $btn-bg-light-c;

        @if $outline_name == 'outline-light-c' {
          background-color: darken($outline_value, 10%);
          color: $outline_value;
        }

        @if $outline_name == 'outline-warning-c' {
          color: darken($outline_value, 90%);
          @include Btn_bg_transition();
        }
      }
    }
  }
}

@mixin Btn-Size {
  &-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    border-radius: 0.3rem;
  }
  &-sm {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.1rem;
    border-radius: 0.1rem;
  }
  &-block {
    width: 100%;
  }
}

.btn {
  @include Buttons;
  @include Btn-Size();
}
